body {
    width: 500px;
    height: 500px;
}
#bg {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#image {
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: -99;
}

#changeButton {
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;

    cursor: pointer;

    background-color: grey;
    color: white;
    border-radius: 15px;
}

#quote_1 {
    font-size: 20px;
    color: white;
}

#quote_2 {
    font-size: 10px;
    color: white;
}
