body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

body iframe:first-child {
    display: none !important;
}

#bg {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 35px;
}

#image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -99;
    object-fit: cover;

    border-radius: 35px;
}

#refreshButton {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    position: absolute;
    right: 3%;
    bottom: 3%;

    cursor: pointer;

    border-radius: 50%;
}

#refreshImage {
    width: 35px;
    object-fit: cover;
}

#quote {
    padding: 2em;
}

@font-face {
    font-family: AppleSDGothicNeoB;
    src: url(./fonts/AppleSDGothicNeoB.eot);
    src: local(AppleSDGothicNeoB),
        url(./fonts/AppleSDGothicNeoB.eot?#iefix) format("embedded-opentype"),
        url(./fonts/AppleSDGothicNeoB.woff2) format("woff2"),
        url(./fonts/AppleSDGothicNeoB.woff) format("woff"),
        url(./fonts/AppleSDGothicNeoB.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: AppleSDGothicNeoH;
    src: url(./fonts/AppleSDGothicNeoH.eot);
    src: local(AppleSDGothicNeoH),
        url(./fonts/AppleSDGothicNeoH.eot?#iefix) format("embedded-opentype"),
        url(./fonts/AppleSDGothicNeoH.woff2) format("woff2"),
        url(./fonts/AppleSDGothicNeoH.woff) format("woff"),
        url(./fonts/AppleSDGothicNeoH.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
    unicode-range: U+0-10FFFF;
}

#quote_1 {
    font-size: 20px;
    color: white;
    font-weight: bold;
    word-break: keep-all;
}
@media screen and (max-width: 250px) {
    #quote_1 {
        font-size: 1em;
    }
}

#quote_2 {
    font-style: italic;
    font-size: 10px;
    color: white;
    word-break: keep-all;
}
@media screen and (max-width: 250px) {
    #quote_2 {
        font-size: 0.5em;
    }
}
