body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

body iframe:first-child {
    display: none !important;
}

#bg {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -99;
    object-fit: cover;

    border-radius: 25px;
}

#changeButton {
    margin: 0;
    position: absolute;
    right: 1%;
    bottom: 1%;

    cursor: pointer;

    background-color: grey;
    color: white;
    border-radius: 15px;
}

#quote_1 {
    font-size: 20px;
    color: white;
}

#quote_2 {
    font-size: 10px;
    color: white;
}
